body {
    margin: 0;
    padding: 0;
}

.general-container {
    padding: 0;
    width: auto;

    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.adaptative-container {
    display: flex;
    flex-direction: row;
}

.horizontal-container, .vertical-container, .adaptative-container {
    /* justify-content: center;
    align-content: center; */
    /* background-color: teal; */
}

@media all and(max-device-width: 480px) {
    
}
footer {
    width: 100%;
}
#header-page, #footer-page {
    background-color: black !important;
    padding: 2%;
}

h4, h5 {
    margin: 0;
    background-color: teal;
}
nav {
    background-color: transparent;
    width: 80%;
    min-width: max-content;
    margin: 2% auto;
    /* padding: 2%; */
    justify-content: space-between ;
}
nav > * {
    margin: 2%;

}
figure {
    /* min-width: min-content; 
    max-width: max-content; */
    margin: 2% auto;
}
.fig-img {
    display: flex;
    flex-direction: column;
}

/* header */
#logo-site {
    margin: 0;
}
/* histoire */
#section-histoire {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(20, 5%);
}

#article-histoire {
    /* margin-left: 2%;
    max-width: 60%;*/
    z-index: 1; 
    grid-row: 3/10;
    grid-column: 2/5;

    background-color: transparent;
}

#histoire-fig1 {
    margin: 0;
    /* width: 100%; */
    /* width: 200px; */
    grid-column: 1/6;
    min-height: min-content;
}
#histoire-fig1 > img {
    /* max-height: 100%; */
}

#histoire-fig2 {
    width: 300%;
    margin-left: 2%;
    grid-row: 7/13;
}
#histoire-fig2> img {
}

#histoire-fig3 {
    width: 200%;
    grid-row: 8/14;
    grid-column: 4;
    min-height: min-content;
}
#histoire-fig3> img {
    max-height: 100%;

}
#histoire-fig4 {
    width: 300%;
    /* min-height: min-content; */
    grid-row: 8/14;
}
#histoire-fig4 > img {
}
/* meteo */
#section-meteo {
    min-width: min-content;
    max-width: max-content;
}
#article-meteo {
    max-width: 40%;
}

/* findus */
#section-find-us {
    min-width: min-content;
    max-width: max-content;
}

#img-map {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

