body {
    margin: 0;
    padding: 0;
}

.general-container {
    margin: 5px;
    padding: 0;
    width: auto;
    min-width: 480px;

    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.adaptative-container {
    display: flex;
    flex-direction: row;
}

.horizontal-container, .vertical-container, .adaptative-container {
    justify-content: center;
    align-content: center;
    background-color: teal;
}

#footer-page, #header-page {
    background-color: black !important;
}

@media all and (max-device-width: 480px) {

}


h4, h5 {
    margin: 0;
    background-color: lightcoral;
}
nav {
    min-width: min-content;
    max-width: max-content;
    margin: 0 auto;
}
figure {
    min-width: min-content;
    max-width: max-content;

    margin: 0 auto;
}
.fig-img {
    display: flex;
    flex-direction: column;
}

/* header */
#logo-site {
    margin: 0;
}
/* histoire */
#article-histoire {
    max-width: 60%;
}
/* meteo */
#section-meteo {
    min-width: min-content;
    max-width: max-content;
}
#article-meteo {
    max-width: 40%;
}

/* findus */
#section-find-us {
    min-width: min-content;
    max-width: max-content;
}

#img-map {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

