#section-actus {
    background-color: rgba(128, 115, 0, 0.603);
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: center; */
}
h4 {
    padding-top: 10%;
}
.actu-container {
    min-width: 280px;
    width: 40vw;
    min-height: 200px;

    margin: 4% 2%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    /* border-radius: 10%; */
    background-color: rgba(128, 115, 0, 0.603);
}
.actu-container article {
    padding: 2%;
    margin: 2%;
    text-align: right;
    /* max-width: 40%; */
}
@media all and (max-device-width: 480px) {
    .actu-container {
        flex-direction: column;
    }
    .actu-container article {
        text-align: center;
    }
}
.actu-container figure {
    margin-top: 5%;
    min-width: 180px;
    min-height: 180px;

    width: 40%;
    height: auto;

    /* height: 40vw; */

    max-width: 180px; 
    max-height: 180px;

    border-radius: 50%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.actu-container img {
    width: 100%;
    height: 100%;
}