 #section-histoire {
    display: grid;
    width: 100%;
    height: auto;

    grid-template-rows: 10vh 10vh 5vh 10vh 10vh 5vh 10vh 10vh 5vh 10vh 10vh;
    grid-template-columns: repeat(5, 20%);

}
.fig-img-large {
    display: flex;
    flex-direction: column;
    width: 100vw;
    grid-column: 1;
}

#section-histoire img {
    height: 100%;
    /* max-width: 100%; */
    background-size: 100% 100%;
}
#histoire-fig1 {
    grid-row: 1/3;
    grid-column: 1;
}
#histoire-fig2 {
    grid-row: 4/6;
}
#histoire-fig3 {
    grid-row: 7/9;
}
#histoire-fig4 {
    grid-row: 10/12;
}

#section-histoire article {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("bubble.gif");
    /* background-color: #008080; */

    font-size: 15pt;
    z-index: 1; 

    /* padding: 30px; */

    min-width: 33vw;
    max-width: 60vw;

    min-height: 10vw;
    max-height: 60vw;

    /* background-color: transparent; */
    justify-content: center;
    align-content: center;
}
#section-histoire article p, #section-histoire article h4  {
    padding: 0 10%;
    background-color: transparent;
}
#article-histoire {
    grid-row: 2/5;
    grid-column: 1/4;
}
#article-meteo {
    grid-row: 5/8;
    grid-column: 3/6;
    justify-self: right;
}
#article-meteo p {
    max-width: 40vw;
}
#article-geographie {
    grid-row: 8/11;
    grid-column: 1/4;
}
#fig-map {
    width: 20vw;
    height: 20vw;
}


