html {
    --bgcolor-back:  rgba(0, 0, 0, 0.699);
    --bgcolor-foot-head: rgba(0, 0, 0, 0.699);
    --bgcolor1: rgb(128, 115, 0);
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bgcolor-back);
}
/* pour ecran de 480 max */
@media all and (max-device-width: 480px) {
    /* p {
        font-size: 12pt;
    } */
}
/* pour ecran de 480 min */
@media all and (min-device-width: 481px) {
    /* p {
        font-size: 15pt;
        color:green;
    } */
}
/* CONTAINERS */
.general-container {
    /* background-color: var(--bgcolor-back); */
    background-color: aliceblue;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.adaptative-container {
    display: flex;
    flex-direction: row;
}

/* GENERAL */
#header-page, #footer-page {
    background-color: var(--bgcolor-foot-head) !important;
    /* padding: 2%; */
}

h4, h5 {
    margin: 0;
    background-color: var(--bgcolor1);
}
nav {
    background-color: transparent;
    width: 80%;
    min-width: max-content;
    margin: 2% auto;
    /* padding: 2%; */
    justify-content: space-between ;
}
nav > * {
    margin: 2%;
}
figure {
    margin: 0 auto;
}

/* HEADER */
#logo-site {
    margin: 0;
}








